
.reveal table {
  font-size: 0.58em;
}

.title {
  font-size: 80px !important;
}

.subtitle {
  font-size: 50px !important;
}


.quarto-title-author-name {
  font-size: 35px;
  font-variant: small-caps
}


.MathJax_Display {
  font-size: 75% !important; /* Adjust size for display math */
  line-height: 1.2;          /* Ensure proper spacing */
}

code.sourceCode {
  font-size: 1.06em;
  /* or try font-size: xx-large; */
}

.big-code{
  font-size: 120%  
}