.title {
  font-size: 75px !important;
}


.subtitle {
  font-size: 33px !important;
  
}


.quarto-title-author {
  font-family: Arial;
  font-size: 40px;
}

.quarto-title-author-name {
  font-variant: small-caps
}

