.title {
  font-size: 80px !important;
}

.subtitle {
  font-size: 50px !important;
}


.quarto-title-author-name {
  font-size: 35px;
  font-variant: small-caps
}



.math.inline {
  font-size: 88%  !important;
}

.MathJax, .MathJax_Display  {
    font-size: 75%  !important;
}